@CHARSET "UTF-8";

.member_clause {
	display: none;
	} 

@media (max-width:500px){
	.webmember_clause{
	    display: none;
	}
}
	
@media ( max-width :500px) {
.member_clause {
	display: block;
	} 
		
.row1{
   width:320px;
   height: 30px;
   border:1px solid;
   text-align:center;
   font-size:12px;
   line-height:30px;
	}

.join1{
   width: 106px;
   float: left;
   background-color:#0b7eb4;
   color:#fff;
   font-weight:bold;
	}

.join2{
   width: 106px;
   float: left;
   background-color:#efefef;
	}

.join3{
   width: 107px;
   float: left;
   background-color:#efefef;
	}
	
.row2{
	}
	
.minititle1{font-family: "맑은 고딕";
	font-size: 20px;
	color: #333;
	font-weight: bold;
	}
	
.box1{
	width: 320px;
	height: 200px;
	}
	
.minititle2{font-family: "맑은 고딕";
	font-size: 20px;
	color: #333;
	font-weight: bold;
	}
	
.box2{
	width: 320px;
	height: 200px;
	}
	
.row3{
	}
	

.button1{
   text-align:center;
   width: 100px;
   height: 40px;
   background-color:#0b7eb4;
   color:#fff;
   font-weight:bold;
   float:left;
   margin-top:15px;
   margin-left:40px;
   line-height:40px;
   }

.button2{
   text-align:center;
   width: 100px;
   height: 40px;
   background-color:#b3b3b3;
   color:#fff;
   font-weight:bold;
   float:left;
   margin-top:15px;
   margin-left:35px;
   line-height:40px;
}
}