/*
** 게시판 CSS
**
*/

.board_wrap{
	width:1061px;
	clear:left;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

.board_cols{
	width:347px;
	height:256px;
	border:1px solid;
	float:left;
	margin-right:9px;
}

.board_title{
	width:330px;
	padding-left:17px;
	height:40px;
	line-height: 40px;
	color:white;
}

.title_colorB{
	background: #0b7eb4;
}

.title_colorG{
	background: #747474;
}

